body {
    background-color: rgba(250, 250, 250);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.bg-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    /* adjust height as needed */
}

.card img {
    width: 100%;
    height: 200px;
    /* adjust height as needed */
    object-fit: cover;
}

.bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.content-overlay {
    position: relative;
    z-index: 1;
    color: white;
    /* adjust text color if needed */
    padding: 2rem;
}