body {
    background-color: rgba(250, 250, 250);
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.bg-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    /* adjust height as needed */
}

.card img {
    width: 100%;
    height: 200px;
    /* adjust height as needed */
    object-fit: cover;
}

.star-rating i {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.text-shadow {
    text-shadow: 2px 2p 4px rgba(0, 0, 0, 0.3);
}

.bg-shadow {
    box-shadow: opx 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #fff;
}

.bg-image {
    background-image: url('assets/image/toppish-strawberry-dessert.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

@media (max-width: 768px) {
    .bg-image {
        height: 100vh;
        background-attachment: fixed;
    }
}

.star-rating i.active {
    color: #f90;
}

.bg-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.content-overlay {
    position: relative;
    z-index: 1;
    color: white;
    /* adjust text color if needed */
    padding: 2rem;
}